body{
    margin: 0;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
}

*,
*:before,
*:after{
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
hr{
    display: block;
    height: 2px;
    width: 100%;
    border: 0;
    margin: 40px 0;
    background-color: #e5e5e5;
}
        /*Container*/

.container{
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

        /*Intro*/

.intro{
    display: flex;
    min-height: 820px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("img/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro_title{
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}

.intro_suptitle{
    margin-bottom: 5px;
    font-size: 50px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
}

        /*Header*/

.header{
    padding: 10px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}
.header.fixed{
    background-color: #ED7D76;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0.2);
    transform: translate3d(0, 0, 0);
}
.header.active{
    background-color: #ED7D76;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

        /*Nav*/

.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link{
    position: relative;
    text-decoration: none;
    transition: color .2s linear;
    vertical-align: top;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
}

.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fce38a;
    top: 100%;
    opacity: 0;
    left: 0;
    z-index: 1; 
    transition: opacity .1s linear;
}

.nav_link:hover{
    color: #fce38a;
}

.nav_link:hover:after
.nav_link.active:after {
    opacity: 1;
      
}
.nav_link.active {
    color: #fce38a;
}

        /*Nav-toggle*/
.nav-toggle{
    padding: 7px 0;
    width: 30px;
    position: absolute;
    top: 15px;
    font-size: 0px;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    display: none;
    right: 15px;
    z-index: 1;
}

.nav-toggle_item{
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition:background .2s linear;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.nav-toggle.active .nav-toggle_item{
    background: none;
}

.nav-toggle.active .nav-toggle_item:before{
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px 0);
}
.nav-toggle.active .nav-toggle_item:after{
    transform-origin: left bottom;
    transform: rotate(-45deg)translate3d(0px, -3px 0);
}

.nav-toggle_item:before,
.nav-toggle_item:after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}
.nav-toggle_item:before{
    top: -8px;
}
.nav-toggle_item:after{
    bottom: -8px;
}

        /*Button*/

.btn{
    display:inline-block;
    vertical-align: top;
    border: 2px solid #fff;
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    transition: background .2s linear, color .2s linear;
    
}

.btn:hover{
    background-color: #fff;
    color: #333;
}

        /*slider*/

.slider{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
     
}

.slider_inner{
    display: flex;
    justify-content: space-between;
}

.slider_item{
    width: 23%;
    opacity: .7;
    padding: 20px 0;
    position: relative;
    border-top: 3px solid #fff;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.slider_num{
    font-size: 24px;
    font-weight: 700;
}

.slider_item.active{
    opacity: 1;
}

.slider_item.active:before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;
}

        /*Section*/

.section{
    padding: 80px 0;
    overflow: hidden;
}

.section--devices{
    padding-bottom: 0;
    background: url(img/images/devices-bg.jpg) center no-repeat;
     -webkit-background-size: cover;
    background-size: cover;
}
.section--gray{
    background-color: #F0F0F0;
}
.section--clients {
    background: #f5f5f5 url("img/clients-bg.jpg") center no-repeat;
     -webkit-background-size: cover;
    background-size: cover;
}
.section--map{
    background: #e6e6e6 url("img/map-bg.jpg") center no-repeat/cover;
}

.section_header{
    width: 100%;
    max-width: 950px;
    margin: 40px auto 40px;
    text-align: center;
}

.section_suptitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section_title{
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f38181;
}

.section_text{
    font-size: 15px;
    color: #999;
}

        /*Card*/
.card{
    display: flex;
    justify-content: space-between;
    margin: 80px 10px 0;
}

.card_item{
    width: 33,33333%;
    padding: 0 5px;
}
.card_inner{
    position: relative;
    background-color: #95e1d3;
}

.card_item:hover .card_img{
    transform: translate3d(-10px, -10px, 0);
}

.card_item:hover .card_img img{
    opacity: .1;
}

.card_item:hover .card_text{
    opacity: 1;
}

.card_img{
    background: linear-gradient(to bottom, #f38181,#fce38a);
    transition: transform .`2s linear;
}

.card_img img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.5s linear;
}

.card_text{
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}
.card_info{
    margin-top: 20px;
    text-align: center;
}
.card_name{
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}
.card_prof{
    color: #999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

        /* Statistics */
.statistics {
    background-color: #95e1d3;
    margin-top:  50px;
}

.stat {
    display: flex;
    flex-wrap: wrap;
    
}

.stat_item {
    flex: 1 1 0;
    padding: 70px 25px;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
}

.stat_item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat_count {
    margin-bottom: 20px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat_text {
    font-size: 14px;
    text-transform: uppercase;
}

        /*SERVICES*/
.services{
    display: flex;
    flex-wrap: wrap;
}
.services_item{
    width: 33.33333%;
    position: relative;
    padding-left: 90px;
    margin-bottom: 30px;
}

.services_icon{
    position: absolute;
    left: 35px;
    top: 0;
    z-index: 1;
}

.services_title{
    margin-bottom: 10px;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
}

.services_text{
    font-size: 15px;
    color: #999;
}


        /* Devices */

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices_item {
    display: block;
    max-width: 100%;
    height: auto;
}

.devices_item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

        /*Wedo*/
.wedo{
    display: flex;
    margin: 0 -30px;
}
.wedo_item{
    width: 100%;
    padding: 0 15px;
}
.wedo_img{
    display: block;
    max-width: 100%;
    height: auto;
}

        /*Accordion*/
.accordion_item{
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}
.accordion_item.active
.accordion_content{
    display: block;
}
.accordion_item.active
.accordion_header:after{
    transform: translateY(-50%)rotate(-45deg);
    margin-top: 5px; 
}

.accordion_header{
    padding: 15px 20px 15px 65px;
    border: 1px solid #e5e5e5;
    position: relative;
    cursor: pointer;
}
.accordion_header:after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%)rotate(135deg);
    
}
.accordion_icon{
    position: absolute;
    left: 20px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    
}
.accordion_content{
    padding: 15px 20px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
    display: none;
}
.accordion_title{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

        /*Reviews*/
.reviews{
    padding: 0 230px;
    position: relative;
}

.reviews_item{
    min-height: 150px;
    position: relative;
    padding-left: 255px;
}

.reviews_photo{
    display: block;
    border: 2px solid #95e1d3;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.reviews_text{
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    color: #999;
}
.reviews_author{
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    color: #333;
}
.reviews_author:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181;
}

.slick-arrow{
    cursor: pointer;
    display: block;
    font-size: 0;
    border: 0;
    background: none;
    color: transparent;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
}
.slick-arrow:after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    top: 50%;
    z-index: 1;    
}


        /*Social*/
.social{
    display: flex;
    justify-content: center;
}
.social_item{
    width: 55px;
    height: 55px;
    padding: 10px;
    line-height: 1;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    text-decoration: none;
    color: #f38181;
    font-size: 30px;
}
.social_item:hover{
    background-color: #f38181;
    color: #fff;
}

        /*Logo*/
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}
.logo_item{
    padding: 0 15px;
}
.logo_img{
    display: block;
    max-width: 100%;
    height: auto;
}

        /*Works*/
.works {
    display: flex;
}

.works_col {
    flex: 1 1 0;
}

.works_item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works_item:hover .works_image {
    opacity: .1;
}

.works_item:hover .works_info {
    opacity: 1;
}

.works_image {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .2s linear;
}

.works_info {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works_title {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.works_text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

        /* Clients */
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients_item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients_photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients_name {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.clients_prof {
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.clients_text {
    font-size: 15px;
    color: #999;
}

.clients_text:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px 0;
    background-color: #f38181;
}

        /* Blog */

.blog {
    display: flex;
    justify-content: space-between;
}

.blog_item {
    width: 31%;
}

.blog_header {
    position: relative;
    margin-bottom: 14px;
}

.blog_photo {
    margin-left: 15px;
    display: block;
    max-width: 100%;
    height: auto;
}

.blog_date {
    padding: 10px 20px;
    background-color: #95e1d3;
    font-style: italic;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 5px;
    z-index: 1;
}

.blog_date-day {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    font-style: normal;
}

.blog_content {
    margin-bottom: 14px;
}

.blog_title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.blog_title a {
    color: inherit;
    text-decoration: none;
}

.blog_title a:hover {
    text-decoration: underline;
}

.blog_text {
    font-size: 15px;
    color: #999;
}

.blog_footer {
    padding-top: 14px;
    border-top: 2px solid #e5e5e5;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

.blog-stat_item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.blog-stat_item i {
    color: #95e1d3;
}
        /*Map*/
.map{
    text-align: center;
}
.map_title{
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    text-transform: uppercase;
}
.map_title a{
    color: inherit;
    text-decoration: none;
}
.map_title a:hover{
    text-decoration: underline;
}
.map_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;
    background-color: #f38181;
}
        /*Footer*/
.footer{
    padding-top: 65px;
    background-color: #f8f8f8;
}
.footer_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    padding-bottom: 65px;
}

.footer_col--first {
    width: 40%;
}
.footer_col{
    padding: 0 15px;
}
.footer_col--first{
    width: 40%;
}
.footer_col--second {
    width: 29%;
}

.footer_col--fhird {
    width: 22%;
}

.footer_logo {
    margin-bottom: 30px;
    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}

.footer_text {
    margin-bottom: 30px;
    font-size: 15px;
    color: #979797;
}

.footer_social {
    margin-bottom: 25px;
}
.footer_col--first{
    width: 40%;
}
.footer_col--second{
    width: 29%;
}
.footer_col--fhird{
    width: 22%;
}

.footer_social-header {
    padding-bottom: 15px;
    font-size: 14px;
    color: #333;
    border-bottom: 2px solid #979797;
}

.footer_social-header b {
    font-size: 18px;
}

.footer_social-content {
    padding-top: 15px;
    font-size: 15px;
    color: #979797;
    font-style: italic;
    font-weight: 300;
}

.footer_social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 22px;
    color: #95e1d3;
}

.footer_title {
    margin: 30px 0;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}
        /*Blogs*/
.blogs_item{
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}
.blogs_img{
    width: 120px;
    height: 80px;
}
.blogs_content{
    padding: 5px;
}
.blogs_title{
    font-size: 10px;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
}
.blogs_title:hover{
    text-decoration: underline;
}
.blogs_date{
    font-size: 13px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

        /* Instagram */
.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram_item {
    width: 33%;
    border-bottom: 2px solid #fff;
}

.instagram_item img {
    display: block;
    max-width: 100%;
    height: auto;
}

        /* Subscribe */
.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe_input {
    width: 60%;
    height: 40px;
    padding: 12px;
    background: #fff;
    border: 1px solid #979797;
    border-right: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.1;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.subscribe_input::placeholder {
    color: #979797;
}

.subscribe_input:focus {
    outline: 0;
    border-color: #95e1d3;
}

.subscribe_btn {
    width: 40%;
    height: 40px;
    padding: 12px 30px;
    background-color: #8FC0FC;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: background .2s linear;
}

.subscribe_btn:hover {
    background-color: #0675FC;
}

.subscribe_btn:focus {
    outline: 0;
}

        /* Copyright */
.copyright {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.copyright span {
    color: #f38181;
}


        /*Media*/

@media (max-width: 1230px){
        /*Intro*/
    
    .intro_suptitle{
        font-size: 60px;
    }
    .intro_title{
        font-size: 70px;
    }
        /*Reviews*/
    .reviews_text{
        font-size: 17px;     
    }
        
}
@media (max-width: 990px){
        /*Intro*/
    
    .intro_suptitle{
        font-size: 42px;
    }
    .intro_title{
        font-size: 60px;
    }
        /*Stat*/
    .stat{
        justify-content: center;
    }

    .stat_item{
        border: 0;
        flex: none;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 33,33333%;  
    }
    .stat_item:last-child{
        border-right: 0;
}
        /*services_item*/
    .services_item{
        width: 50%;
    }
        /*Reviews*/
    .reviews_photo{
        width: 150px;
        height: 150px;
    }
    .reviews_item{
        padding-left: 165px;
    }
        /*clients*/
    .clients{
        max-width: 600px;
        margin: 0 auto;
    }
    .clients_item{
        width: 100%;
        padding-right: 0;
    }
    .clients_item:last-child{
        margin-bottom: 0;
    }
        /*footer*/
    .footer_col--first{
        width: 100%;
    }
    .footer_col--second,
    .footer_col--fhird{
        width: 50%;
    }
        /*instagram*/
    .instagram{
        justify-content: flex-start;
    }
    .instagram_item{
        width: auto;
        border-right: 2px solid #fff;
    }
      
}

@media (max-width: 770px){
        /*Header*/
    .header{
        padding: 5px;
    }
        /*Intro*/
    .intro{
        min-height: 650px;
    }
        /*Nav*/
    .nav{
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #ED7D76; 
    }
    .nav.active{
        display: block;
    }
    .nav_link{
        display: block;
        margin: 0;
        padding: 5px 20px;
    }
    .nav-toggle{
        display: block;
    }
       
        /*Section*/
    .section{
        padding: 40px 0;
    }
    .services--devices{
        padding-bottom: 0;
    }
        /*Card*/
    .card{
        justify-content: center;
        flex-wrap: wrap;
    }
    .card_item{
        padding: 0 15px;
        width: 100%;
        max-width: 410px;
        margin-bottom: 13px;
    }
        /*services*/
    .services_item{
        width: 100%;
        padding-right: 0;
    }
    .services_icon{
        padding-left: 0;
    }
        /*wedo*/
    .wedo{
        flex-wrap: wrap;
    }
    .wedo_img{
        display: none;
    }
         /*Reviews*/

    .reviews_photo{
        position: static;
        margin: 0 auto;
    }
    .reviews_item{
        padding-left: 0;
        
    }
     .reviews_text{
        font-size: 14px;     
    }
        /*Works*/
    .works{
        flex-wrap: wrap;
    
    }
    .works_col{
        flex: none;
        width: 50%;
    }
        /*blog*/
    .blog{
        max-width: 380px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .blog_item{
        width: 100%;
    }
    .blog_item:last-child{
        margin-bottom: 0;
    }
    
         /*footer*/
   
    .footer_col--second,
    .footer_col--fhird{
        width: 100%;
    }
      
}
@media (max-width: 575px){
        /*Intro*/
   
    .intro_suptitle{
        font-size: 32px;
    }
    .intro_title{
        font-size: 38px;
    }
        /*Section*/
    .section_header{
        margin-bottom: 20px;
    }
    .section_suptitle{
        font-size: 20px;
}        
    .section_title{
        font-size: 24px;
    }
    .section_title:after{
        margin: 15px auto;
    }
        /*Stat*/
    .stat_item{
        width: 100%;
    }
    .stat_count{
        font-size: 40px;
    }
    .stat_text{
        font-size: 13px;
    }
        /*devices*/
    .devices{
        max-width: 320px;
    }
     .devices_item--iphone{
        width: 140px;
        bottom: -30px;
        right: 10px;
    }
        /*Reviews*/
    .reviews{
        padding: 0;
    }
    .reviews_btn{
        top: 18%;
    }
        /*Logo*/
    .logo{
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo_item{
        width: 50%;
        margin-bottom: 20px;
    }
    .logo_img{
        margin: 0 auto;
    }
         /*Works*/
    .works{
        margin-left: 0;
    }
    .works_col{
        width: 100%; 
    }
        /*clients*/
    .clients_photo{
        position: static;
    }
    .clients_item{
        padding-left: 0;
        text-align: center;
    }
    .clients_text:before{
        margin: 15px auto;
    }
        /*blogs*/
    .blogs_img{
        width: 80px;
        height: 50px;
    }
    .blogs_title{
        font-size: 8px;
    }
        /*subscribe*/
    .subscribe{
        flex-wrap: wrap;
        max-width: none;
    }
    .subscribe_input{
        margin-bottom: 10px;
        border-right: 1px solid #e7e7e7;
    }
    .subscribe_input,
    .subscribe_btn{
        width: 100%;
    }
}




























































